*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
/app/build/
/app/.cxx/
/native/out/
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
*.hprof
.cxx/
kotlin-profile/
.kotlin/
secrets.properties
*.jks
*.keystore
!debug.keystore
